<section class="chat">
  <div class="chat__list">
    <header>
      <div class="chat__list-header_left">
        <div class="chat__list-block">
          {{{imgPlus}}}
          <div class="chat__list-header-wrapper">
            <a href="/profile">
              <div class="chat__list-title">Профиль</div>
            </a>
            {{{imgArrowRight}}}
          </div>

        </div>
        <div class="chat__list-wrapper">
          <input
            type="text"
            class="input chat__list-input"
            placeholder="Поиск..."
          />
          <i class="chat__list-icon"></i>
        </div>
      </div>
    </header>

    <div class="chat__list-messages">
      {{{message_1}}}
      {{{message_2}}}
      {{{message_3}}}
      <a href="/chat/message">
        {{{message_4}}}
      </a>
    </div>
  </div>
  <div class="chat__message-list">

    <main>
      <div class="chat__message-nothing">Выберите чат чтобы отправить сообщение</div>
    </main>
  </div>
</section>
