<div class="{{classDiv}}">
  <label for="my-input" class="form-registration__title">{{label}}</label>
  <input
    id="my-input"
    name="{{name}}"
    type="{{type}}"
    class="{{classInput}}"
    placeholder="{{placeholder}}"
  />
  <div class="error error-registration">{{errorText}}</div>
</div>
