<div class="{{classDiv}}">
  <label for="my-input" class="{{classLabel}}">{{label}}</label>
  <input
    id="my-input"
    name="{{name}}"
    type="{{type}}"
    class="{{classInput}}"
    placeholder="{{placeholder}}"
    value="{{value}}"
    {{#if readonly}}
    readonly
    {{/if}}
  />
  <div class="error-input {{classError}}"></div>
</div>


