<div class="form-info__block">
  <div class="form-info__block-title">{{label}}</div>
  <input
    name="{{name}}"
    type="{{type}}"
    class="{{class}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
  />
</div>
