<div class="form-info__block">
  <label for="my-input" class="form-info__block-title">{{label}}</label>
  <input
    id="my-input"
    name="{{name}}"
    type="{{type}}"
    class="{{class}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
  />
  <div class="error-input"></div>
</div>
