<section class="chat">
  <div class="chat__list">
    <header>
      <div class="chat__list-header_left">
        <div class="chat__list-block">
          {{{imgPlus}}}
          <div class="chat__list-header-wrapper">
            <a href="/profile">
              <div class="chat__list-title">Профиль</div>
            </a>
            {{{imgArrowRight}}}
          </div>

        </div>
        <div class="chat__list-wrapper">
          <input
            type="text"
            class="input chat__list-input"
            placeholder="Поиск..."
          />
          <i class="chat__list-icon"></i>
        </div>
      </div>
    </header>

    <div class="chat__list-messages">
      {{{message_1}}}
      {{{message_2}}}
      {{{message_3}}}
      {{{message_4}}}
    </div>
  </div>
  <div class="chat__message-list">
    {{! header появляется, когда мы выбираем чат  }}
    <header>
      <div class="chat__message-header_right">
        <div class="chat__message-header-wrapper">
          <div class="chat__message-header-avatar"></div>
          <div class="chat__message-header-name">Илья</div>

        </div>

        <div class="chat__message-header-menu">
          <div class="span-menu active">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div class="span-menu__active">
            <div class="span-menu__active-block">
              {{! <img
                class="span-menu__active-block-img"
                src="../../assets/img/addPlus.svg"
                alt="add"
                width="22"
                height="22"
              /> }}
              {{{imgPlusAndSize}}}
              <div class="span-menu__active-block-title">Добавить пользователя</div>
            </div>

            <div class="span-menu__active-block">
              {{! <img
                class="span-menu__active-block-img"
                src="../../assets/img/delete.svg"
                alt="add"
                width="22"
                height="22"
              /> }}
              {{{imgDelete}}}
              <div class="span-menu__active-block-title">Удалить пользователя</div>
            </div>

            <div class="span-menu__active-block">
              {{! <img
                class="span-menu__active-block-img"
                src="../../assets/img/delete.svg"
                alt="add"
                width="22"
                height="22"
              /> }}
              {{{imgDelete_1}}}
              <div class="span-menu__active-block-title">Удалить чат</div>
            </div>

          </div>

        </div>
      </div>
    </header>
    {{! Конец header }}

    <main>

      {{! Заглушка }}
      {{! <div class="chat__message-nothing">Выберите чат чтобы отправить сообщение</div> }}
      {{! Конец заглушки }}

      <div class="chat__message-date">19 июня</div>

      <div class="chat__message-block">
        <div class="chat__message-user-block">
          <div class="chat__message-user-text">Привет! Смотри, тут всплыл
            интересный кусок лунной космической истории — НАСА в какой-то момент
            попросила Хассельблад адаптировать модель SWC для полетов на Луну.
            Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к
            слову говоря, все тушки этих камер все еще находятся на поверхности
            Луны, так как астронавты с собой забрали только кассеты с пленкой.
            Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не
            так и на ракету они так никогда и не попали. Всего их было
            произведено 25 штук, одну из них недавно продали на аукционе за
            45000 евро. Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Minus explicabo ducimus eveniet accusantium dolores?
            <span class="chat__message-user-time">11:56</span></div>

        </div>

        <div class="chat__message-user-block">
          <div class="chat__message-img-wrapper">
            {{! <img
              class="chat__message-user-img"
              src="../../assets/img/photo.png"
              alt="photo"
            /> }}
            {{{imgPhoto}}}
            <div class="chat__message-user-time img-time">11:57</div>
          </div>
        </div>

        <div class="chat__message-user-block active">
          <div class="chat__message-user-text active">Круто!
            <span class="chat__message-user-time active">11:56</span></div>
        </div>

      </div>
    </main>
    <div class="chat-form">
      <div class="chat-form__clip-wrapper">
        {{! <img
          class="chat-form__img-clip"
          src="../../assets/img/clip.svg"
          alt="clip"
        /> }}
        {{{imgClip}}}
        <div class="chat-form__clip-menu">
          <div class="chat-form__active-clip">
            {{! <img
              class="span-menu__active-block-img"
              src="../../assets/img/photo-clip.svg"
              alt="photo"
              width="22"
              height="22"
            /> }}
            {{{imgPhotoClip}}}
            <div class="span-menu__active-block-title">Фото или Видео</div>
          </div>
          <div class="chat-form__active-clip">
            {{! <img
              class="span-menu__active-block-img"
              src="../../assets/img/file-clip.svg"
              alt="photo"
              width="22"
              height="22"
            /> }}
            {{{imgFileClip}}}
            <div class="span-menu__active-block-title">Файл</div>
          </div>
          <div class="chat-form__active-clip">
            {{! <img
              class="span-menu__active-block-img"
              src="../../assets/img/location-clip.svg"
              alt="photo"
              width="22"
              height="22"
            /> }}
            {{{imgLocationClip}}}
            <div class="span-menu__active-block-title">Локация</div>
          </div>
        </div>
      </div>

      <input
        name="message"
        type="text"
        class="input chat-form__input"
        placeholder="Сообщение"
      />
      {{!  <img
        class="chat-form__img-arrow"
        src="../../assets/img/back-arrow.png"
        alt="back-arrow"
        width="28"
        height="28"
      /> }}
      {{{imgBackArrow}}}
    </div>

  </div>
</section>
