<section class="chat">
  <div class="chat__list">
    <header>
      <div class="chat__list-header_left">
        <div class="chat__list-block">
          {{{imgPlus}}}
          <div class="chat__list-header-wrapper">

            {{{linkProfile}}}

            {{{imgArrowRight}}}
          </div>

        </div>
        <div class="chat__list-wrapper">
          <input
            type="text"
            class="input chat__list-input"
            placeholder="Поиск..."
          />
          <i class="chat__list-icon"></i>
        </div>
      </div>
    </header>

    <div class="chat__list-messages">

    {{#each chatTabs}}
        {{{this}}}
    {{/each}}

    </div>
  </div>

  <div class="chat__message-list">

    {{#if store.state.isLoading}}
        <div class="chat-loader">{{{Loading}}}</div>
      {{else}}

        {{#if chatId}}
          <header>
            <div class="chat__message-header_right">
              <div class="chat__message-header-wrapper">
                <div class="chat__message-header-avatar"></div>
                <div class="chat__message-header-name">{{currentChat.title}}</div>
              </div>

              <div class="chat__message-header-menu">
                {{{imgDotsMenu}}}
                <div class="span-menu__active">
                  {{{menuUpTab_1}}}
                  {{{menuUpTab_2}}}
                  {{{menuUpTab_3}}}
                </div>
              </div>
            </div>
          </header>
        {{/if}}

      
         <main>
           {{#if chatId}}

              {{#if userMessages}}
                {{!-- <div class="chat__message-date">19 июня</div> --}}
                <div class="chat__message-block">
                  {{#each userMessages}}
                    {{{this}}}
                  {{/each}}
                </div>

              {{else}}
                 <div class="chat__message-nothing"></div>
              {{/if}}


           {{else}}
               <div class="chat__message-nothing">Выберите чат чтобы отправить сообщение</div>
           {{/if}}
        </main>



        {{#if chatId}}
          <form class="chat-form">
            <div class="chat-form__clip-wrapper">

              {{{imgClip}}}
              <div class="chat-form__clip-menu">
                {{{menuDowmTab}}}
              </div>
            </div>

            {{{inputMessage}}}

            <div class="chat__img_ml20">
              {{{imgBackArrow}}}
            </div>

          </form>

        {{/if}}

      {{{modalAddChat}}}

      {{{modalAddUser}}}

      {{{modalDeleteUser}}}

      {{{modalDeleteChat}}}

      {{/if}}






  </div>
</section>
