<div class="chat__message-user-block {{isOwnUserMessage}}">
  <div class="chat__message-user-text {{isOwnUserMessage}}">{{userMessage}}<span class="chat__message-user-time {{isOwnUserMessage}}">{{userTime}}</span>
  </div>
</div>
