<main>
  <section class="profile">
    <div class="profile__wrapper">

      <div class="profile__panel">
        <a href="/chat">
          <img
            src="../../assets/img/back-arrow.png"
            alt="back-arrow"
            width="35"
            height="35"
            class="profile__panel-circle"
          />
        </a>
      </div>

      <div class="profile__info">
        <div class="profile__info-avatar">

          {{{avatar}}}

          <form action="#" class="form-info">
            {{{infoBlock_1}}}
            {{{infoBlock_2}}}
            {{{infoBlock_3}}}
            {{{infoBlock_4}}}
            {{{infoBlock_5}}}
            {{{infoBlock_6}}}
          </form>

          <div class="profile__info-change">
            <div class="profile__info-block">
              {{{linkChangeData}}}
            </div>
            <div class="profile__info-block">
              {{{linkChangePassword}}}
            </div>
            <div class="profile__info-block">
              {{{linkExit}}}
            </div>
          </div>

        </div>

      </div>
    </div>

    {{!  Modal }}
    {{! <div class='profile-overflow'>
          <div class='profile-modal'>
            <div class='profile-modal__title'>Загрузите файл</div>
            <div class='profile-modal__file'>Выбрать файл на компьютере</div>
            <button class='profile-modal__btn'>Поменять</button>
          </div>
        </div> }}

  </section>
</main>
