<section class="registration">

  {{#if store.state.Loading}}
    {{{Loading}}}
  {{else}}
  
    <div class="registration__wrapper">
      <div class="registration__wrapper-text">Регистрация</div>
      <main>

        <form class="form-registration">
          {{{inputEmail}}}
          {{{inputLogin}}}
          {{{inputName}}}
          {{{inputSurname}}}
          {{{inputPhone}}}
          {{{inputPassword}}}
          {{{buttonRegistration}}}
        </form>

        <div class="error_registration-form">{{store.state.registrationFormError}}</div>

        {{{linkLogin}}}
      </main>
    </div>
  {{/if}}

</section>
