<section class="registration">
  <div class="registration__wrapper">
    <div class="registration__wrapper-text">Регистрация</div>
    <main>
      <form action="#" class="form-registration">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputTelephone}}}
        {{{inputPassword}}}
        {{{buttonRegistration}}}
        {{{linkLogin}}}
      </form>
    </main>
  </div>
</section>
