<section class="registration">
  <div class="registration__wrapper">
    <div class="registration__wrapper-text">Регистрация</div>
    <main>
      {{!-- <form class="form-registration" id="myForm">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputTelephone}}}
        {{{inputPassword}}}
        {{{buttonRegistration}}}
        {{{linkLogin}}}
      </form> --}}
      {{{form}}}
      {{{linkLogin}}}
    </main>
  </div>
</section>
