<main>
  <section class="profile">
    <div class="profile__wrapper">

      <div class="profile__panel">
          {{{imgBackArrow}}}
      </div>

      <div class="profile__info">
        <div class="profile__info-avatar">

          {{{avatar}}}

          <form class="form-info">
            {{{inputOldPassword}}}
            {{{inputNewPassword}}}
            {{{inputRepeatPassword}}}
            {{{button}}}
          </form>

          <div class="error_password-form">{{store.state.passwordFormError}}</div>
        </div>
      </div>
    </div>
  </section>
</main>
