<main>
  <section class="profile">
    <div class="profile__wrapper">

      <div class="profile__panel">
        <a href="/profile">
          <img
            src="../assets/img/back-arrow.png"
            alt="back-arrow"
            width="35"
            height="35"
            class="profile__panel-circle"
          />
        </a>
      </div>

      <div class="profile__info">
        <div class="profile__info-avatar">

          {{{avatar}}}

          <form action="#" class="form-info">
            {{{inputOldPassword}}}
            {{{inputNewPassword}}}
            {{{inputNewPasswordRetry}}}

            {{{buttonSave}}}
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
