<div class="chat__list-message {{classChoose}}">
  <div class="chat__list-message-wrapper">
    <div class="chat__list-message-avatar">
      {{! Тут будут фотографии пользователей }}
      {{! <img src="" alt="" class='chat__list-message-img'></img>  }}
    </div>
    <div class="chat__list-message-user">
      <div class="chat__list-message-name">{{name}}</div>
      <div class="chat__list-message-text"><span
          class="chat__list-message-span"
        >{{spanText}}</span>{{text}}</div>
    </div>
  </div>
  <div class="chat__list-message-time">
    <div class="chat__list-message-clock">{{time}}</div>
    <div
      class="chat__list-message-notification {{classNotificatonDisplayNone}}"
    >{{notificaton}}</div>
  </div>
</div>
